*{
  margin: 0;
  padding: 0;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}
h1{
  color: blue;
  font-size: 8rem;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
}
p{
  font-size: 1rem;
  margin-bottom: 1rem;
}
.btn{
  background-color:orange;
  border: none;
  border-radius: 0.5rem;
  color: blue;
  
}
img{
  height: 400px;
}
.button{
  border-top: 2px solid rgb(100, 100, 240);
}
.my-heading{
  display: flex;
  margin-bottom: 5rem;
}